<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <h1>Todos</h1>
    <form action="/addTodo" method="post">
        <input type="text" name="todo" autofocus />
        <button type="submit">Add</button>
    </form>
    <ul>
        <% for (let todo of todos) { %>
            <li class="<%= todo.completed ? 'completed' : '' %>">
                <% if (todo.completed) { %>
                    <s><%= todo.name %></s>
                <% } else { %>
                <%= todo.name %>
                <% } %>
                    <form class="toggleButton" action="/toggleTodo/<%= todo.id %>" method="post"><button type="submit">Toggle</button></form>
            </li>
            <% } %>
    </ul>
    <p>Todos count: <%= todos.length %>
    </p>

    <form action="/resetTodos" method="post">
        <button type="submit">Reset Todos</button>
    </form>

    <form action="/clearDoneTodos" method="post">
        <button type="submit">Clear Done Todos</button>
    </form>
    
    <p>
        <%= visits %> "people" has viewed this page
    </p>
</body>

</html>