<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <main>
        <h1>Todos</h1>
        <form action="/addTodo" method="post">
            <input type="text" name="todo" autofocus />
            <button type="submit">Add</button>
        </form>
        <nav>
            <menu>
                <li><a href="/">All</a></li>
                <li><a href="/pending">Pending</a></li>
                <li><a href="/done">Done</a></li>
            </menu>
        </nav>
        <ul>
            <% for (let todo of todos) { %>
                <li<%- todo.isDone ? ' class="done"' : "" %>>
                    <form action="/toggleTodo" method="post">
                        <input type="hidden" name="id" value="<%= todo.id %>" />
                        <button type="submit">
                            <%= todo.isDone ? "✅" : "❔" %>
                        </button>
                        <%= todo.text %>
                    </form>
                    </li>
                    <% } %>
        </ul>
        <p>Todos count: <%= todos.length %>
        </p>
        <menu class="actions">
            <form action="/resetTodos" method="post">
                <button type="submit">Reset todos</button>
            </form>
            <form action="/clearDone" method="post">
                <button type="submit">Clear done todos</button>
            </form>
        </menu>
    </main>
    <footer>
        <p>
            <%= visits %> "people" has viewed this page
        </p>
    </footer>
</body>

</html>